.container-w{
    margin: auto;
    background: transparent;
    height: auto;
    width: 100%;
}

.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: auto;
    width: auto;
    background: transparent;
}

*{
    box-sizing: content-box;
    color: white;
}

div.card{
    display: block;
    width:20em;
    height:auto;
    margin:10px;
    border-radius: 6px ;
    background-color: #242223;
}
.card:hover{
    box-shadow: 0 10px 30px 0 rgb(0 0 0/30%), 0 20px 10px 0 rgb(0 0 0/10%);
    transition: .5s;
}

.card-content{
    position: relative;
    padding: 10px;
    text-align: left;

}

.card-title{
    margin-top: 15px;
    font-weight: 700;
    font-size: 1.5em;

}

.card-title a{
    color: white;
    text-decoration: none;

}


.a .card-image{
    width: 50px;
    height: 30px;
    object-fit: cover;
}

img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

div.card-readmore{
    border-top: solid white;

}