/*
Common CSS
 */

/*body{font-family: 'Open Sans', sans-serif; color:#ffffff;; font-size:15px; line-height: 1.5em; margin:0; padding:0; font-weight: bold}
p{font-weight: 400}
h1,h2,h3,h4,h5,h6{font-weight: inherit; line-height: 0em}

.content{width: auto;margin: 0 auto}*/
a{
    transition: 0.3s;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 200;
    line-height: 70px;
    text-transform: uppercase;
    z-index:3;
}
.site-header{
    /*background: #282c34;
    position: fixed;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    overflow: hidden;*/
    background: black;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    padding-bottom: 1%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 1%;
    position: fixed;
    overflow: hidden;
    z-index: 3;
}

/*
Top Header Area
 */

.top-header-area{

}
.top-header-area .inner-header{
    overflow: hidden
}

/*
Social Area
 */
.top-header-area .social-area{
    float:left;
    width:auto;
    padding-left: 10%;
}
.top-header-area .social-area ul{
    margin:0;
    list-style: none;
}
.top-header-area .social-area ul li{
    display: inline-block;
    margin-right: 20px;
}
.top-header-area .social-area ul li a{
    background: transparent;
    width:70px;
    height:57px;
    display: block;
    text-align: center;
    padding-top:10px;
    border-radius: 50%
}
.top-header-area .social-area ul li a:hover{
    color: black;
    background: white;
}

/*
Logo Area
 */
.top-header-area .logo-area{
    max-width: 100%;
    display: inline-flex;

}

.top-header-area .logo-area .logo-image{
    position: center;
    height: 60px;
    text-align: center;
}

.top-header-area .logo-area .logo-image:hover{
    background: #282c34;
    transition: 0.5s;
}

/*
About Area
 */
.top-header-area .about-area{
    float: right;
    width: auto;
    padding-right: 20%;
}

.top-header-area .about-area a{
    background: transparent;
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
    border-radius: 0 30px 0 30px;
    padding: 15px;
}

.top-header-area .about-area a:hover{
    color: black;
    background: white;
}
