.content{width: auto;margin: 0 auto}

/*
Video Overlay
 */

h1,h2,h3,h4,h5,h6,p{
    font-weight: inherit;
    line-height: 1em;
    color: #242223;
}

.hero-overlay-video{
}

.video-overlay{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: -1;
}
.hero-overlay{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(180deg
    ,rgba(0,0,0,.20) 56%,black);
    z-index: -1;
}

.intro-area{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    display: inline-flex;
    justify-content: normal;
    background-color: #242223;
    border-radius: 20px;
}

.intro-area .intro-text-section{
    font-family: 'Bahnschrift SemiBold', sans-serif;
    float: right;
}
.intro-text{
    padding: 35px;
}

.page{
    min-height: 100vh;
    text-align: center;
    position: center;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.highlight{
    color: white;
    font-style: unset;
    font-weight: bold;
}

.project-area{
    margin: 20em;
    text-align: left;
    display: inline-flex;
    border-radius: 20px;

}

.project-text {
}

.custom-class {

}

.box {
    font-size: 18px;
    margin-top:15em;
    line-height: 1em;
    position: relative;
    padding: 1em;
    box-sizing: border-box;
    width: auto;
    display: inline-flex;
}

.ib {
    display: block;
    text-align: left;
    position: relative;
    padding:6em;
    letter-spacing: 0.1em;
}
.ib img{
}

.about-text{
    text-align: left;
    background-color: blue;
    padding-left: 10em;
    display: inline-block;
}

.about-image{
    text-align: right;
    background-color: red;
    float: right;
    display: inline-block;
}

.link-project{
    font-weight: bold;
    color: #c8c3c5;
}

.project-title{
    background-color: red;
    float: left;
    text-align: left;
}
.project-description{
}

.project-image{
    text-align: right;
    float: right;
    position: relative;
}

.about-me{
    margin:2em;
    background-color: blue;
    width: 100%;
}

.about-me-text{

}
