.content{width: auto;margin: 0 auto}

/*
Video Overlay
 */

.hero-overlay-video{
}

.video-overlay{
    /*position: absolute;
    opacity:100%;
    width:100%;
    left:50%;
    top:50%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%,-50%);
    z-index: -1;
    padding: 2em;
    box-shadow: inset 0 0 0px 0px rgba(0,0,0,.5);*/
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.hero-overlay{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(180deg
    ,rgba(0,0,0,.20) 56%,black);
}

.intro-area{
    position: relative;
    padding-top: 10%;
    padding-left: 0%;
    height: 0%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-area .intro-text{
    font-family: 'Open Sans', sans-serif;
    box-sizing: content-box;
    color: white;
    font-size: 60px;
    line-height: 2em;
    margin: auto;
    padding: 0px;
    font-weight: bold;
}

.intro-area p{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    color: white;
    font-size: 24px;
    line-height: 1.5em;
    margin: auto;
    padding-top: 0%;
    font-weight: bold;
}


.container-w{
    float: left;
}