h1,h2,h3,h4,p{
    color: white;
}

.carousel{
        height: auto;
        margin: auto;
}

.carousel-inner img{
    margin: auto;
    height: 500px;
    width: 1000px;
    filter: brightness(75%);
}

.carousel-inner img:hover{
}

.carousel-inner .carousel-item .d-block{

}